Repository 42atomys/webhooked, pull requests merged in 2022-02, with the labels that each got.

#20 feat: Add Security layer with a factory builder
  config/webhooks.example.yml
  go.mod
  internal/config/configuration.go
  internal/config/configuration_test.go
  internal/config/specification.go
  internal/config/specification_test.go
  internal/config/structs.go
  internal/server/v1alpha1/handlers.go
  internal/server/v1alpha1/handlers_test.go
  pkg/core/entry.go
  pkg/core/security_layer.go
  pkg/factory/compare_with_static_value.go
  pkg/factory/compare_with_static_value_test.go
  pkg/factory/factory.go
  pkg/factory/factory_test.go
  pkg/factory/get_header.go
  pkg/factory/get_header_test.go
  pkg/factory/runner.go
  pkg/factory/runner_test.go
Labels: size/XL

#19 feat: Add storage management and few built-in storages
  .github/workflows/actions.yaml
  go.mod
  go.sum
  internal/config/configuration.go
  internal/config/structs.go
  internal/server/v1alpha1/handlers.go
  internal/server/v1alpha1/handlers_test.go
  pkg/core/storage.go
  pkg/storages/postgres.go
  pkg/storages/postgres_test.go
  pkg/storages/redis.go
  pkg/storages/redis_test.go
Labels: size/L

#24 docs(README): Add Alpha usage instruction
  .github/profile/webhooked.png
  README.md
Labels: size/M

#31 docs(github): Add pull request template
  .github/workflows/tests.yaml
  examples/kubernetes/README.md
  examples/kubernetes/deployment.yaml
Labels: size/L

#33 chore(storage): Place storage on respective package
  .gitignore
  CODEOWNERS
  internal/config/configuration.go
  internal/config/configuration_test.go
  internal/config/structs.go
  pkg/core/storage.go
  pkg/storage/postgres/postgres.go
  pkg/storage/postgres/postgres_test.go
  pkg/storage/redis/redis.go
  pkg/storage/redis/redis_test.go
  pkg/storage/storage.go
Labels: size/L
