Repository 42atomys/webhooked, pull requests merged in 2022-03, with the labels that each got.

#35 fix(tests): Use configuration example to run test suites
  .github/workflows/tests.yaml
  internal/config/configuration_test.go
  pkg/storage/postgres/postgres_test.go
  pkg/storage/redis/redis_test.go
Labels: size/M

#36 feat: Add configuration data source
  .github/profile/roadmap.png
  README.md
  config/webhooks.example.yml
  internal/valuable/mapstructure_decode.go
  internal/valuable/mapstructure_decode_test.go
  internal/valuable/valuable.go
  internal/valuable/valuable_test.go
  pkg/factory/compare_with_static_value.go
  pkg/storage/postgres/postgres.go
  pkg/storage/redis/redis.go
Labels: size/XL

#40 Feat/storage rabbitmq
  .github/workflows/tests.yaml
  go.mod
  go.sum
  pkg/storage/rabbitmq/rabbitmq.go
  pkg/storage/rabbitmq/rabbitmq_test.go
  pkg/storage/storage.go
Labels: size/L

#38 feat(security/pipeline): Add Pipeline to add more possibilities to the security builder
  config/webhooks.example.yml
  examples/kubernetes/deployment.yaml
  internal/config/configuration.go
  internal/config/configuration_test.go
  internal/config/specification.go
  internal/config/specification_test.go
  internal/config/structs.go
  internal/server/v1alpha1/handlers.go
  internal/server/v1alpha1/handlers_test.go
  internal/valuable/valuable.go
  internal/valuable/valuable_test.go
  pkg/factory/compare_with_static_value.go
  pkg/factory/compare_with_static_value_test.go
  pkg/factory/f_compare.go
  pkg/factory/f_compare_test.go
  pkg/factory/f_debug.go
  pkg/factory/f_debug_test.go
  pkg/factory/f_generate_hmac_256.go
  pkg/factory/f_generate_hmac_256_test.go
  pkg/factory/f_has_prefix.go
  pkg/factory/f_has_prefix_test.go
  pkg/factory/f_has_suffix.go
  pkg/factory/f_has_suffix_test.go
  pkg/factory/f_header.go
  pkg/factory/f_header_test.go
  pkg/factory/factory.go
  pkg/factory/factory_test.go
  pkg/factory/get_header.go
  pkg/factory/get_header_test.go
  pkg/factory/mapstructure_decode.go
  pkg/factory/mapstructure_decode_test.go
  pkg/factory/pipeline.go
  pkg/factory/pipeline_test.go
  pkg/factory/registry.go
  pkg/factory/registry_test.go
  pkg/factory/runner.go
  pkg/factory/runner_test.go
  pkg/factory/structs.go
Labels: size/XXL

#43 chore(go/modules): Use atomys.codes repository manager
  cmd/serve.go
  go.mod
  internal/config/configuration.go
  internal/config/configuration_test.go
  internal/config/structs.go
  internal/server/serve.go
  internal/server/v1alpha1/handlers.go
  internal/server/v1alpha1/handlers_test.go
  main.go
  pkg/factory/f_compare_test.go
  pkg/factory/f_debug_test.go
  pkg/factory/f_generate_hmac_256_test.go
  pkg/factory/f_has_prefix_test.go
  pkg/factory/f_has_suffix_test.go
  pkg/factory/f_header_test.go
  pkg/factory/factory.go
  pkg/factory/factory_test.go
  pkg/factory/mapstructure_decode.go
  pkg/factory/structs.go
  pkg/storage/postgres/postgres.go
  pkg/storage/rabbitmq/rabbitmq.go
  pkg/storage/redis/redis.go
  pkg/storage/storage.go
Labels: size/M

#47 fix(security/pipeline): Factory failed when multiple specs is used
  pkg/factory/registry.go
Labels: (╯°□°)╯︵ ┻━┻ 🤯, priority/critical 🟥, type/bug 🔥, domain/complicated 🟨, size/S

#52 chore(goreport): Fix go report results
  cmd/root.go
  cmd/serve.go
  go.mod
  go.sum
  internal/config/configuration.go
  internal/server/serve.go
  internal/server/v1alpha1/handlers.go
  internal/server/v1alpha1/handlers_test.go
  internal/valuable/valuable.go
  pkg/factory/factory_test.go
  pkg/factory/registry.go
  pkg/storage/postgres/postgres.go
  pkg/storage/storage.go
Labels: size/M

#54 fix(configuration): Validate the valuable object when decode it to lookup env variable
  internal/valuable/valuable.go
  internal/valuable/valuable_test.go
  pkg/factory/mapstructure_decode.go
  tests/webhooks.tests.yml
Labels: size/M
